*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    text-align: right;
    background-image: url('../images/banner/banner2.png');
    height: 100vh; 
}

.head-content{
    position: absolute;
    top: 40%;
    right: 10%;
    
}

.head-title{
    font-size: 50px;
    font-weight: 900; 
    margin-bottom: 10px;
}

.head-sub-text{
    font-size: 20px;
}

.btn-primary{
    background-color: orangered;
    color: azure;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
}

.main-body{
    height: 100vh;
}

.body-image{
    margin-left: 50px;
}

.image1{
    width: 450px;
    height: auto;
    margin-left: 60px;
}

.main-body{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 140px;
    gap: 50px;
}

.body-title{
    font-size: 30px;
    margin-bottom: 15px;
}

.body-text{
    font-size: 18px;
    text-align: justify;
    margin-right: 200px;
    margin-bottom: 10px;
}

.main-body-text ul {
    list-style: none;
}

.main-body-text ul li:before{
    content: "\2713";
    margin-right: 5px;
    color: rgb(8, 183, 8);
}

.plans{
    height: 100vh; 
}

.plan-title{
    font-size: 30px;
    margin: 100px 0 40px 0;
    text-align: center;
}

.plans-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 40px 30px 60px; 
}

.plan-item{
    text-align: center;
}

.plan-item-title{
    font-size: 20px;
}

.plan-text{
    font-size: 18px;
}

.plans-tail{
    display: block;
    position: relative;
    margin: 60px 230px 60px 230px;
} 

.plan-tail-img {
    position: absolute;
    width: 1140px;
    height: 300px;
  }

.plan-tail-text{
    color: azure;
    position: absolute;
    font-size: 35px;
    font-weight: 700;
    margin: 80px ;  
}

.btn-plan{
    position: relative;
    color: orangered;
    font-size: 20px;
    font-weight: 600;
    background-color: azure;
    padding: 15px;
    border-radius: 5px;
    top: 150px;
    left: 80px;
    cursor: pointer;
}



.footer{
    background-color: black;
    color: azure;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    gap: 50px;
}

.footer-info{
    margin-left: 40px;
    width: 50%;
}

.footer-info-title{
    font-size: 35px;
    margin-bottom: 20px;
}

.footer-info-text{
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-btn{
    position: relative;
    color: orangered;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px
}

.subscribe input[type=email] {
    font-size: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 7px;
    border-bottom: 2px solid red;
    background-color: azure;
  }









